<div class="w-full max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden flex h-96">
  <!-- Columna de la imagen -->
  <div class="flex-1 bg-gray-100 flex items-center justify-center">
    <img
      [src]="personaje.image"
      alt="{{ personaje.name }}"
      class="w-auto h-80 object-contain"
    >
  </div>

  <!-- Columna de la información -->
  <div class="flex-1 p-6 flex flex-col justify-between">
    <!-- Información superior -->
    <div>
      <h2 class="text-2xl font-bold text-black">{{ personaje.name }}</h2>
      <p class="text-lg font-bold text-blue-500">KI: {{personaje.ki}}</p>
      <p class="text-lg font-bold text-blue-500">Raza: {{personaje.race}}</p>
      <p class="text-lg font-bold text-blue-500">Afiliación: {{personaje.affiliation}}</p>
      <!-- Descripción con scroll -->
      <div class="text-sm text-gray-600 mt-4 h-24 overflow-y-auto">
         {{personaje.description}}
      </div>
    </div>

    <!-- Botones en la parte inferior -->
    <div class="flex space-x-4">
      <button
        class="flex-1 px-4 py-2 bg-blue-500 text-white rounded text-sm"
        (click)="verTransformaciones(personaje.id)">
        Transformaciones
      </button>
      <button
        class="flex-1 px-4 py-2 bg-green-500 text-white rounded text-sm"
        (click)="abrirModal(personaje)">
        Detalles
      </button>
    </div>
  </div>

  <app-modal
    [isVisible]="modalVisible"
    [personaje]="personaje"
    [fullDetails]="fullCharacterDetails"
    (cerrarModalEvent)="cerrarModal()">
  </app-modal>
</div>
